{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edward ro cars project</title>
    <link rel="stylesheet" href="{% static 'pools/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'pools/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>

    <!--=======Scroll to top button=======-->
    <div class="scrollToTop-btn flex-center">
      <i class="fas fa-arrow-up"></i>
    </div>

    <!--=======Light/Dark theme button=======-->
    <div class="theme-btn flex-center">
      <i class="fas fa-moon"></i>
      <i class="fas fa-sun"></i>
    </div>

    <!--=======Header=======-->
    <header>
      <div class="nav-bar">
        <a href="#" class="logo">Edward ro cars</a>
        <div class="navigation">
          <div class="nav-items">
            <div class="nav-close-btn"></div>
            <a class="active" href="#home">Главная</a>
            <a href="#about">Обо мне</a>
            <a href="#skills">Проекты</a>
            <a href="#services">Сервера</a>
            <a href="#partfolio">Портфолио</a>
            <a href="#contact">Наши связи</a>
          </div>
        </div>
        <div class="nav-menu-btn"></div>
      </div>
    </header>

    <!--=======Home section=======-->
    <section class="home flex-center" id="home">
      <div class="home-container">
        <div class="media-icons">
<a href="https://vk.com/brock2003"><i class="fab fa-vk"></i></a>
<a href="https://t.me/Ejik1911"><i class="fab fa-telegram "></i></a>
</div>
        <div class="info">
          <h2>Всем привет! Я Эдвард</h2>
          <h3>Логист</h3>
          <p>Я регулирую множествами подходами перевозок, разнообразных спортивных автомобилей, а также других транспортных средств. </p>
          <a href="callmed.html" class="btn">Мои контакты <i class="fas fa-arrow-circle-right"></i></a>
        </div>
        <div class="home-img">
          <img src="{% static 'pools/img/Moscow.jpg' %}" alt="">
        </div>
      </div>
      <a href="#about" class="scroll-down">Вниз<i class="fas fa-arrow-down"></i></a>
    </section>

    <!--=======About section=======-->
    <section class="about section"  id="about">
      <div class="container flex-center">
        <h1 class="section-title-01">Обо мне</h1>
        <h2 class="section-title-02">Обо мне</h2>
        <div class="content flex-center">
          <div class="about-img">
            <img src="{% static 'pools/img/Lambo.jpg' %}" alt="">
          </div>
          <div class="about-info">
            <div class="description">
              <h3>Моё имя Эдвард</h3>
              <h4>Я главный <span>Логист</span> в своей компании <span>Москвы</span></h4>
              <p>Я могу не только найти разные транспортные средства, а также регулировать перевозками. Могу сказать точную дату погрузки и разгрузки. Также имею повышение эффективности складского комплекса путема автоматизации логистечких процессов. Моя компания имеет свой склад, где в ней находятся разные транспортные средства,к примеру такие как: BMW, Porshe, Ferrari, Bugatti, Lamborghini, Kawasaki и.т.д. </p>
            </div>
            <ul class="professional-list">
              <li class="list-item">
                <h3>7</h3>
                <span>Лет<br>Опыта работы</span>
              </li>
              <li class="list-item">
                <h3>19K+</h3>
                <span> Довольных<br>Клиентов  </span>
              </li>
              <li class="list-item">
                <h3>5000 из 5000 </h3>
                <span>Успешных<br>Доставок</span>
              </li>
            </ul>
            <a href="resume.html" class="btn">Посмотреть Резюме <i class="fas fa-download"></i></a>
          </div>
        </div>
      </div>
    </section>

    <!--=======Skills section=======-->
    <section class="skills section" id="skills">
      <div class="container flex-center">
        <h1 class="section-title-01">Проекты</h1>
        <h2 class="section-title-02">Проекты</h2>
        <div class="contant">
          <div class="skills-description">
            <h3>Повышение эффективности</h3>
            <p>Более 10 лет я разрабатывал множество проектов, тем самым мне удалось повысить уровень маржинального дохода, также понизить время трудных задач. </p>
          </div>
          <div class="skills-info education-all">
            <div class="education">
              <h4><label>Проекты</label></h4>
              <ul class="edu-list">
                <li class="item">
                  <span class="year">2020-2021</span>
                  <p> <span> Повышение работников </span> </p>
                </li>
                <li class="item">
                  <span class="year">2018-2019</span>
                  <p> <span>Повышение компьтерных разработчиков </span> </p>
                </li>
                <li class="item">
                  <span class="year">2016-2018</span>
                  <p> <span>Повышение рисков</span></p>
                </li>
              </ul>
            </div>
            <div class="education">



            </div>
          </div>
          <div class="skills-description">
            <h3>Работа и опыт</h3>
          </div>
          <div class="skills-info">
            <div class="experience-card">
              <div class="upper">
                <h3>Управление техническими системами </h3>
                <h5>РУДН</h5>
                <span>2017 - 2021</span>
              </div>
              <div class="hr"></div>
              <h4><label>Тема бизнеса.</label></h4>
              <p>Я обучался менеджменту, Контроллингу, логистике, программированию</p>
            </div>
            <div class="experience-card">
              <div class="upper">
                <h3>Металлорург</h3>
                <h5>Москва</h5>
                <span>2021 - 2022</span>
              </div>
              <div class="hr"></div>
              <h4><label>Работа.</label></h4>
              <p>Я получал оттуда опыт тем как руководить процессами погрузок и разгрузок разных метталлов</p>
            </div>


          </div>
        </div>
      </div>
    </section>

    <!--=======Services section=======-->
    <section class="services section " id="services">
      <div class="container flex-center">
        <h1 class="section-title-01">Сервера</h1>
        <h2 class="section-title-02">Сервера</h2>
        <div class="content">
          <div class="services-description">
            <h3>Что я предоставляю</h3>
          </div>
          <ul class="service-list">
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-pencil-ruler"></i>
                <h3>Консультации</h3>
                <div class="learn-more-btn">Подробнее <i class="fas fa-long-arrow-alt-right"></i></div>
              </div>
              <div class="service-modal flex-center">
                <div class="service-modal-body">
                  <i class="fas fa-times modal-close-btn"></i>
                  <h3>Консультации</h3>
                  <h4>Как я буду консультировать?</h4>
                  <p>При встрече со мной я могу вам помочь сразу определиться в заказе транспортных средств, также объянить принцип доставки из-за грницы в ваш пункт назначения.</p>
                  <h4>Что я могу пообещать</h4>
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Звонок</li>
                    <li><i class="fas fa-check-circle"></i>Заключить договор с погрзками и разгрузками</li>
                    <li><i class="fas fa-check-circle"></i>Рискнуть своими финансами для вашего доверия</li>
                    <li><i class="fas fa-check-circle"></i>Привезти вам транспортное средство в точное время и до вашего пункта назначения</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-photo-video"></i>
                <h3>Мой склад</h3>
                <div class="learn-more-btn">Подробнее <i class="fas fa-long-arrow-alt-right"></i></div>
              </div>
              <div class="service-modal flex-center">
                <div class="service-modal-body">
                  <i class="fas fa-times modal-close-btn"></i>
                  <h3>Мой склад</h3>
                  <h4>Что происходит в моем складе?</h4>
                  <p>В данный момент мои работники завозят разные марки машин, также их реставрируют в идеальное состояние, делают анализ по работоспособности транспортного средства и рассчитают их себестоимость </p>
                  <h4>Что храним</h4>
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Разные марки спортивных атомобилей</li>
                    <li><i class="fas fa-check-circle"></i>Грузовые автомобили</li>
                    <li><i class="fas fa-check-circle"></i>Мотоциклы</li>
                    <li><i class="fas fa-check-circle"></i>Квадроциклы</li>
                    <li><i class="fas fa-check-circle"></i>Множество запчастей для вашего транспортного средства</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-file-code"></i>
                <h3>Тюнинг</h3>
                <div class="learn-more-btn">Подробнее <i class="fas fa-long-arrow-alt-right"></i></div>
              </div>
              <div class="service-modal flex-center">
                <div class="service-modal-body">
                  <i class="fas fa-times modal-close-btn"></i>
                  <h3>Тюнинг</h3>
                  <h4>Что мы делаем в тюнинге?</h4>
                  <p>Все зависит от того, что хочет клиент</p>
                  <h4>Я могу посоветовать</h4>
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Переделать обвес</li>
                    <li><i class="fas fa-check-circle"></i>Также обклеить пленкой определенного цвета,который захочет клиент</li>
                    <li><i class="fas fa-check-circle"></i>Поставить новые диски</li>
                    <li><i class="fas fa-check-circle"></i>Поменять шины</li>
                    <li><i class="fas fa-check-circle"></i>Переделать салон лучше rolls roysa</li>
                    <li><i class="fas fa-check-circle"></i>Прокачка вашего двигателя</li>
                    <li><i class="fas fa-check-circle"></i>Поствавить разные спойлеры, которые будут вам по комфорту</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-align-left"></i>
                <h3>Доставка</h3>
                <div class="learn-more-btn">Подробнее <i class="fas fa-long-arrow-alt-right"></i></div>
              </div>
              <div class="service-modal flex-center">
                <div class="service-modal-body">
                  <i class="fas fa-times modal-close-btn"></i>
                  <h3>Сроки доставки </h3>
                  <h4>Какие у нас сроки</h4>
                  <p>Все зависит, что вы хотите?Если рассчитывать доставку, то у нас максимальное время 10 дней, если протюнинговать машину, то можем справиться за 3 дня</p>
                  <h4>Что я могу пообещать?</h4>
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Необыкновенные эмоции полученного вам транспортного средства</li>
                    <li><i class="fas fa-check-circle"></i>Точную дату завозки</li>
                    <li><i class="fas fa-check-circle"></i>Высокое качество тюнинга</li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!--=======Portfolio section=======-->
    <section class="partfolio section" id="partfolio">
      <div class="container flex-center">
        <h1 class="section-title-01">Портфолио</h1>
        <h2 class="section-title-02">Портфолио</h2>
        <div class="content">
          <div class="partfolio-list">
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Машины</h3>
                  <a href="https://www.youtube.com/@RoCarsTV" class="btn">Фото и видео <i class="fas fa-download"></i></a>
                </div>
                <img src="{% static 'pools/img/bmw.jpg' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Машины</h3>
                  <img src="{% static 'pools/img/bmw.jpg' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Запчасти на транспортное средство</h3>
                  <a href="https://www.akrapovic.com/en" class="btn">Запчасти на транспортное средство <i class="fas fa-download"></i></a>
                </div>
                <img src="{% static 'pools/img/lamb.jpg' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Запчасти на транспортное средство</h3>
                  <img src="{% static 'pools/images/lamb.jpg' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Тюнинг</h3>
                  <a href="https://forwardauto.ru/catalog/" class="btn">Тюнинг <i class="fas fa-download"></i></a>>
                </div>
                <img src="{% static 'pools/img/ferrari.jpg' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Тюнинг</h3>
                  <img src="{% static 'pools/img/ferrari.jpg' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Нащи проекты</h3>
                  <a href="https://nami.ru/news/717" class="btn">Наши проекты <i class="fas fa-download"></i></a>>
                </div>
                <img src="{% static 'pools/img/maseratti.jpg' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Наши проекты</h3>
                  <img src="{% static 'pools/img/maserati.jpg' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Диски</h3>
                  <a href="https://nami.ru/news/717" class="btn">Наши точки <i class="fas fa-download"></i></a>>
                </div>
                <img src="{% static 'pools/img/disk.jpg' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Диски</h3>
                  <img src="{% static 'pools/img/disk.jpg' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>С кем я сотрудничаю</h3>
                  <a href="https://arielmetal.ru/#slide-6" class="btn">Информация <i class="fas fa-download"></i></a>>
                </div>
                <img src="{% static 'pools/img/mrsds.jpg' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Погрузки и разгрузки</h3>
                  <img src="{% static 'pools/img/mrsds.jpg' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--=======Our Clients=======-->
      <div class="our-client sub-section">
        <div class="container flex-center">
          <h1 class="section-title-01">Мои клиенты</h1>
          <h2 class="section-title-02">Мои клиенты</h2>
          <div class="content">
               <div class="swiper client-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide flex-center">
                  <div class="client-img">
                    <img src="{% static 'pools/img/Ilon Mask.jpg' %}" alt="">
                  </div>
                  <div class="clietn-details">
                    <p>Привет, я Илон Маск, также известный всему миру бизнесмен и инженер таких автомаболей, как Tesla </p>
                    <h3>Илон Маск </h3>
                    <span>Бизнесмен</span>
                  </div>
                </div>
                <div class="swiper-slide flex-center">
                  <div class="client-img">
                    <img src="{% static 'pools/img/Robert.jpg' %}" alt="">
                  </div>
                  <div class="clietn-details">
                    <p>Я колекционирую эксклюзивные автомобили и костюмы</p>
                    <h3>Роберт Дауни-младший</h3>
                    <span>Плейбой, филантроп, бизнесмен, и всем известный Железный человек</span>
                  </div>
                </div>

                  </div>
                </div>
              </div>
              <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
              <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!--=======Contact section=======-->
    <section class="contact section " id="contact">
      <div class="container flex-center">
        <h1 class="section-title-01">Мои связи</h1>
        <h2 class="section-title-02">Мои связи</h2>
        <div class="content">
          <div class="contact-left">
            <h2>Давайте обсудим ваш заказ!</h2>
            <ul class="contact-list">
              <li>
                <h3 class="item-title">
                  <i class="fas fa-phone"></i>Телефон
                </h3>
                <span>+7 (926) 547-38-55</span>
              </li>
              <li>
                <h3 class="item-title">
                  <i class="fas fa-envelope"></i>Почта адрес
                </h3>
                <span><a href="mailto:martain@email.co">1032210310@pfur.ru</a></span>
              </li>
              <li>
                <h3 class="item-title">
                  <i class="fas fa-map-marker-alt"></i>Официальный адрес
                </h3>
                <span>1-й Красногвардейский пр., 22, стр. 1, 123112, Москва</span>
              </li>
            </ul>
          </div>
          <div class="contact-rigth">
            <p>Я всегда открыт для обсуждения ваших пожеланий <br><span>Сотрдничество со мной</span></p>
            <form action="feedback/" method="post" class="contact-form">
              {% csrf_token %}
              <div class="third-row">
                <input name="email" type="email" placeholder="Email">
                <textarea name="message" id="" rows="7" placeholder="Message"></textarea>
              </div>
              <button class="btn" type="submit">Прислать мне  <i class="fas fa-paper-plane"></i></button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--=======Footer=======-->
    <footer>
      <div class="footer-container">
        <div class="hr"></div>
        <div class="info group">
          <h3>Больше информанции</h3>
          <ul>
            <li><a href="#skills">Проекты</a></li>
            <li><a href="#services">Сервера</a></li>
            <li><a href="#partfolio">Портфорлио</a></li>
            <li><a href="#contact">Мои контакты</a></li>
          </ul>
        </div>
        <div class="hr"></div>
      </div>
    </footer>
    <!--=======External scripts=======-->
    <script src="{% static 'pools/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'pools/js/main.js' %}"></script>

  </body>
</html>
